.footer-social-links {

 	table.social-menu {

		table {
			text-align: center;
			width: 60%;
			margin: 0 auto;
			@media only screen and (max-width: #{$global-breakpoint}) {
				width: 100%;
			}
		}
		.menu-item {
			img {
				text-align: center;
			}
		}
	}
}
.footer-cta {
	text-transform: uppercase;
	font-size:14px;
	letter-spacing:0.05em;
	text-decoration: underline;
}