table.main-nav .columns {
	padding-left: 0;
	padding-right:0;
}

table.menu {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	.menu-item {
		padding: 16px 10px !important;
		font-size: 15px;
		a {
			color: $black !important;
			font-weight: bold;
			&:hover {
				color: $primary-color !important;
			}
		}
	}
}